.content-block {
    padding-top: 100px;
}

.time-stamps-row {
    margin-top: 30px;
    overflow-x: auto;
    white-space: nowrap;
}

.btn-group > button.btn.time-stamp-button{
  float:none!important;
}



.drop-text-block {
    height:200px;
    width:200px;
    text-align:center;
    padding-top: 80px;
}

.drop-text{
    vertical-align:middle;
    display:inline-block;
    font-weight: bold;
    font-size: 15pt;
}

.upload-button{
    margin-top: 10px;
}
