.content-block {
    padding-top: 100px;
}

.time-stamps-row {
    margin-top: 30px;
    overflow-x: auto;
    white-space: nowrap;
}

.btn-group > button.btn.time-stamp-button {
    float: none !important;
}



.drop-text-block {
    height: 100px;
    width: 500px;
    text-align: center;
    padding-top: 200px;
}

.drop-box-stl{
  height: 500px;
  width: 500px;
  border: dotted 4px black;
  border-radius: 5px;
}

.drop-text {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    font-size: 19pt;
}

.upload-button {
    margin-top: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: #f5f5f5;
    padding-top: 14px;
}

.text-muted {
    color: #777;
}

.btn-end {
    margin-right: 20px;
}

.spinner-lock {
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.loader-spin {
    margin-top: 120px;
}

.upl-pg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 100%;
}

.video-pg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 100%;
  flex-direction: column;
}

.loading{
  width: 100%;
  height: 100%;
}

.active-loading{
  display:flex;
  justify-content: center;
  align-items: center;
}

.big-spinner {
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-image: url('../img/big-spin.gif');
}

.small-spinner {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-image: url('../img/small-spin.gif');
}

.stamps-blk{
  height: 80px;
  width: 700px;
}

.video-blk{
  height: 400px;
  width: 700px;
}

.uploader-blk{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-pg-head{
  width: 700px;
  display: flex;
  margin-bottom: 20px;
}
.video-pg-head .video-link{
    width: 600px;
    margin-left: 10px;
}
