<html>
<head>
    <title>Hockey Fights</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="js-main"></div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; Artezio 2017</p>
        </div>
    </footer>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/bundle.js"></script>
</body>
</html>
